*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --ff-heading:'Staatliches', cursive;
    --ff-texting:'Roboto', sans-serif;
    --ff-footer:'Open Sans';
    --bg-heading: #8E9AAF;
    --bg-titulo:#CBC0D3;
    --fc-titulo:#FFFFFF;
    --fc--texting:#FFFFFF;
    

}


.page {
    display: flex;
    height:72.0rem ;
    margin-top: 2.0rem auto;
}

body {
    font-size: 1.6rem;
    
}


header {
 
    background:var(--bg-heading);
 
}

header img {
 padding: 3.2rem 8.0rem;
   
}

header .titulo {
    background: var(--bg-titulo);
    height: 7.0rem;
    text-align: center;
    

}

header h6 {
    color: var(--fc-titulo);
    font-family: var(--bg-heading);
    font-size: 3.0rem;
    line-height: 3.4rem;
   
    text-transform: uppercase;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    padding-top: 1.0rem; 
}

header p {
    font-family: var(--ff-texting);
    font-size: 1.4rem;
    line-height: 2.5rem;
    width: 31.5rem;
    color:var(--fc--texting);
    text-align: center;
    padding: 5.2rem 4.8rem 12.5rem 5.4rem;

}

.cards {
    display: grid;
    gap: 3.0rem 
    
}       
   

.cards .card {
    position: relative;
    height: fit-content;
    
}


.cards .card span {
    position:absolute;
    top:1.5rem ;
    right: 2.0rem;

    font-family: var(--ff-heading);
    color: #4A4E69;
    font-size: 2.0rem;
    line-height: 3.4rem;
    background: #FEEAFA;
    width: 11.2rem;
    height: 3.5rem;
    border-radius: 2.0rem;
    padding: 0 2.4rem;
    object-fit: cover; 
}

.cards .card img {
    width: 100%;
    border-radius: 2rem;
}


footer {
    display:flex;
     margin: 1.0rem auto;
     width: 60.2rem;
     padding: 1.0rem 7.0rem;
     
}


footer a {
    font-family: var(--ff-footer);
    color: #4A4E69;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
 
  
}








@media (min-width:900px) {
    .page {
        display: flex;
        margin-top: 5.0rem;
    }

    header {
         
    width:37.7rem;
    display: flex;
    flex-direction: column;
   

    }

    .cards {
        margin-left: 4.0rem;
        grid-template-areas: 
        'A B'
        'C D'
        'E F';
    }


     .cards-footer .cards .card:nth-child(1) {
            grid-area: A;

        }

        .cards-footer .cards .card:nth-child(2) {
            grid-area: B;

        }

        .cards-footer .cards .card:nth-child(3) {
            grid-area: D;

        }

        .cards-footer .cards .card:nth-child(4) {
            grid-area: C;

        }

        .cards-footer .cards .card:nth-child(5){
            grid-area: E;

        }

        .cards-footer .cards .card:nth-child(6) {
            grid-area: F;

        }

        

    }




    @media ( min-width:1440px) {
        .cards {
           
            grid-template-areas:
            'A B C' 
            'D B E'
            'D F E'
            'Footer Footer Footer';
        }

        .cards-footer .cards .card:nth-child(1) {
            grid-area: A;

        }

        .cards-footer .cards .card:nth-child(2) {
            grid-area: B;

        }

        .cards-footer .cards .card:nth-child(3) {
            grid-area: C;

        }

        .cards-footer .cards .card:nth-child(4) {
            grid-area: D;

        }

        .cards-footer .cards .card:nth-child(5){
            grid-area: F;

        }

        .cards-footer .cards .card:nth-child(6) {
            grid-area: E;

        }

        .cards-footer .cards .card:nth-child(7) {
            grid-area: Footer;

        }


       

    }




    






   

   

  

  
