*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --ff-heading:'Staatliches', cursive;
    --ff-texting:'Roboto', sans-serif;
    --ff-footer:'Open Sans';
    --bg-heading: #8E9AAF;
    --bg-titulo:#CBC0D3;
    --fc-titulo:#FFFFFF;
    --fc--texting:#FFFFFF;
    

}

body {
    font-size: 1.6rem;
}

.page {
    max-width: 128.0rem;
    min-height: 72.0rem;
    display: flex;
    gap: 9.8rem;
   
    border: 1px solid red;
}


section {
  
    width:37.7rem;
    background:var(--bg-heading);
 
}

section img {
 padding: 3.2rem 8.0rem;
   
}

section .titulo {
    background: var(--bg-titulo);
    height: 7.0rem;
    text-align: center;
    

}

section h6 {
    color: var(--fc-titulo);
    font-family: var(--bg-heading);
    font-size: 3.0rem;
    line-height: 3.4rem;
   
    text-transform: uppercase;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    padding-top: 1.0rem; 
}

section p {
    font-family: var(--ff-texting);
    font-size: 2.4rem;
    line-height: 2.0rem;
    color:var(--fc--texting);
    align-items: center;
    padding: 5.2rem 4.8rem 12.5rem 5.4rem;
}



main {
    display: grid;
    gap: 1.0rem;
    padding: 1.0rem;
    grid-template-columns: 1fr 1fr 1fr;
}



main .cards #img1 {
    grid-area: A;
}

main .cards #img2 {
    grid-area: B;
}

main .cards #img3 {
    grid-area: C;
}

main .cards #img4 {
    grid-area: D;
   
}

main .cards #img5 {
    grid-area: F;
}

main .cards #img6 {
    grid-area: E;
}

main img {
    width: 100%;
    height: auto;
}


.cards {
    position: relative;
}




span {
    position:absolute;
    top:1.5rem ;
    right: 2.0rem;

    font-family: var(--ff-heading);
    color: #4A4E69;
    font-size: 2.0rem;
    line-height: 3.4rem;
    background: #FEEAFA;
    width: 11.2rem;
    height: 3.5rem;
    border-radius: 2.0rem;
    padding: 0 2.4rem;
    object-fit: cover; 
}





.footer a {
    font-family: var(--ff-footer);
    color: #4A4E69;
    text-decoration: none;


}





   

   

  

  
